<h1>About</h1>
<p>

	<%= link_to "One month rails" , "http://onemonthrails.com" %>
	is a project to reach 
	<%= link_to "Ruby on Rails" , "http://rubyonrails.org" %>
	in one month.  This is a sample application developed by Freddy thanks one moth rails.

</p>

