<div class="hero-unit">
	<h1>Welcome to One Month Rails! </h1>
	<p> 
		You have found the home page for the 
		<%= link_to "one month rails" , "http://onemonthrails.com" %>
		a hack by Freddy Mangum. 

	</p>
	<p>

		<%= link_to "Sign Up Now!" , "#", class: "btn btn-primary btn-large" %>

	</p>
</div>





